.main {
    max-width: 1200px;
    margin: 0 auto;
}

.pokemonList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 80vh;
}

.cardLink {
    text-decoration: none;
}

.pagination {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

