.details {
    text-align: center;
    overflow-x: auto;
    min-height: 40vh;
    max-height: 80vh;
}

.item {
    display: flex;
}

.image {
    width: 200px;
}

.id {
    color: gray;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.name {
    font-size: 50px;
}

.select {
    margin-left: 10px;
}
