.header {
    min-height: 80px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 5px 20px;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.logo {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo a {
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
}

.activeLink {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .languages,
    .logo {
        justify-content: center;
    }
}
